@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 0;
  }

html{
scroll-behavior: smooth;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    background-size: ;
    background-position: center center;
    background-repeat: no-repeat;
}
.wrapper{
    position: absolute;
    top: 1;
}  
.info_inicio {
    font-size: 25px;
    padding-top: 15px;

}
.text_contactanos{
 text-align: justify;
}
.loader-section {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    z-index: 999;
    transition: all 1s 1s ease-out;
    opacity: 1;
}

.loaded {
    opacity: 0;
    z-index: -1;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #000055;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



.wrapper {
    background-image: linear-gradient(rgba(7, 7, 7, .56), rgba(7, 7, 7, .56)), url(img/bg.jpg);
    background-size: cover;
    width: 100vw;
    height: 90vh;
    background-color: #009e91;
    color: #fff;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
.navbar {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    margin-bottom: 30px;
}

.logo-img {
    width: 225px;
    margin-right: 10px;
}

.brand span {
    color: aqua;
}

.menu {
    display: flex;
    justify-content: center;
    top: 0;
    height: 100px;
    padding-top: 33px;
}

.menu li {
    list-style: none;
    height: 1px;

}

.menu a {
    color: #000055;
    text-decoration: none;
    padding: 10px 20px;
    font-size: larger;
    padding-bottom: 10px;
    transition: 0.5s ease;
}

.menu li:hover a {
    background-color: rgb(255, 255, 255);
    color: #000000;
}

.menu .active {
    color: #009e91;

}

.navbar {
    background-color: #ffffff;
}

.navbar {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 4px 3px rgb(83 83 83 / 27%);
}


.main {

    margin: 0 auto;
    width: 80vw;
    height: 75vh;
    padding: 95px;
}

h1 {
    font-size: 3em;
}

.info-content {
    margin-top: 165px;
}

.info-content span {
    color: #009ED7;
    font-size: 50;
    margin-top: 100;
}
.material-symbols-outlined  {
    color: #009ED7;
    font-size: 50;
    transition: 1010ms ease;
} 
.material-symbols-outlined:hover{
   color: #000099;
}
.container {
    display:grid;
    grid-template-columns: repeat(2,50%);
    padding:20px;
    gap:10px;
    width: 1000px;
    padding-top: 684px;
}

.box-info {
    display:flex;
    position: relative;
    flex-direction: column;
    gap:50px;
    padding-top: 100px;
    right: 85px;
}

.box-info > h1 {
    text-align: left;
    letter-spacing: 5px;
}

.data {
    display: flex;
    flex-direction: column;
    gap:25px
}

.data > p {
    font-size: 1rem;
}

.data > p > i {
    color:#009ED7;
    margin-right: 10px;
    font-size:25px;
}



.links {
    display:flex;
    gap:15px;
}

.links > a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: #009ED7;
    border-radius: 2px;
    text-align: center;
    transition: .1s;
}

.links > a > i {
    color:#fff;
    line-height: 40px;
    font-size: 20px;
}

form {
    display:flex;
    flex-direction: column;
    text-align: center;
    gap:15px;
}

.input-box {
    position:relative;
}

.input-box > input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    outline:none;
    background: rgba(255 255 255 / .1);
    border:3px solid transparent;
    border-radius: 10px;
    letter-spacing: 1px;
    transition:.3s;
    color:#fff;
    
}

.input-box > input:focus::placeholder,
.input-box > textarea:focus::placeholder {
    color:transparent;
     top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}

.input-box > input:focus,
.input-box > textarea:focus {
    border-bottom:3px solid #1a5ab6;
    animation: backwards;

}

.input-box > textarea {
    width: 100%;
    height: 130px;
    padding: 10px;
    background: rgba(255 255 255 / .1);
    border:3px solid transparent;
    border-radius: 10px;
    letter-spacing: 1px;
    outline: none;
    transition:.3s;
    color:#fff;
    letter-spacing: 1.5px;
}

.input-box:focus {
    border: 2px solid #ffffff;
}



.input-box > i {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right: 10px;
    color:rgba(255 255 255 / .3);
    transition: .3s;
}

.input-box > input:focus ~ i {
    color:#009ED7;
}

form > button {
    width: 100%;
    padding: 10px;
    outline: none;
    background: #009ED7;
    border-radius: 10px;
    color:#fff;
    border:none;
    transition: .1s;
    cursor: pointer;
    font-size: 1rem;
}

form > button:hover,
.links > a:hover {
    background: #1a5ab6;
}
.signupFrm {
    display: flex;
    flex-flow: column-reverse;
}

.apartado-mas {
    background-color: #009e91;
    font-size: 2.5em;
    color: white;
    font-weight: 600;
    text-align: center;
}


.form {
    background-color: #000099;
    width: 585px;
    border-radius: 8px;
    padding: 20px 40px;
    padding-top: 40px;
    align-self: center;
}

.title {
    font-size: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
}

.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 112%;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
}

::placeholder {
    color: transparent;
}

.label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: #000099;
    color: #ffffff;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
    border-radius: 10px;
}

.submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: #ffffff;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.submitBtn:hover {
    background-color: #a8a8a8;
    transform: translateY(-2px);
}

.input:focus+.label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: #0099ff;
}

.input:focus {
    border: 2px solid #ffffff;
}

.input:not(:placeholder-shown)+.label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
}

textarea {
    font-family: sans-serif;
    background-color: #ffffff;
    height: 90px;
    width: 100%;
    margin-bottom: 50px;
    font-size: 15px;
    resize: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #ab4493;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-left: 15px;
    font-size: large;
    border: 1px solid #b2b0b7;
}

